@model IEnumerable<VTMUNC.Models.Applicant>

@{
    ViewData["Title"] = "Index";
}

<h1>Delegations</h1>

<div class="table-responsive">
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>
                    School Name
                </th>
                <th>
                    Advisor Email
                </th>
                <th>
                    Advisor Name
                </th>
                <th>
                    Advisor Phone
                </th>
                <th>
                    Advisor's Relation
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DelegationSize)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SchoolMailingAddress)
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SchoolName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdvisorEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdvisorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdvisorPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdvisorRelation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DelegationSize)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SchoolMailingAddress)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
