@using VTMUNC.ViewModels;
@model ApplicantsDashboard;

@{
    ViewData["Title"] = "Index";
}

<style>
    body {
        background: var(--secondary-background);
    }

</style>

<h2>Delegations</h2>

<section class="Analysis">
    <div class="row">
        <div class="col-3">
            <div class="card text-center">
                <h4>Total Participants</h4>
                <h2>@Model.TotalNumberOfParticipants</h2>
            </div>
            <div class="card text-center">
                <h4>Number of Days Since a Sign Up</h4>
                <h2>@Model.DaysSinceASignUp</h2>
            </div>
        </div>
        <div class="col-6">
            <h1>
                
            </h1>
        </div>
    </div>
</section>

<div class="table-responsive">
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>
                    School Name
                </th>
                <th>
                    Advisor Email
                </th>
                <th>
                    Advisor Name
                </th>
                <th>
                    Advisor Phone
                </th>
                <th>
                    Advisor's Relation
                </th>
                <th>
                    Delegation Size
                </th>
                <th>
                    School's Address
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Applicant item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SchoolName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdvisorEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdvisorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdvisorPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdvisorRelation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DelegationSize)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SchoolMailingAddress)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
