@page
@model LoginModel

@{
    ViewData["Title"] = "Staff Sign In";
    ViewData["mainContainer"] = false;
}

<style>
    body {
        background-color: #F2F1E8;
    }

    section.login {
        height: calc(100vh - 61px);
    }

    .loginBox {
        border: 2px solid #630031;
        background: #EFE9E7;
        box-shadow: -20px 16px 0px 0px #DEBB8F;
        padding: 100px
    }

    .loginBox > h5 {
        color: grey;
    }

</style>


<section class="container login d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="loginBox">
            <h1>@ViewData["Title"]</h1>
            <form id="account" method="post">
                <h4>Log In for staff</h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                    <div class="form-group custom-control custom-checkbox">
                        <input asp-for="Input.RememberMe" class="custom-control-input"/>
                        <label asp-for="Input.RememberMe" class="custom-control-label">Remember me?</label>
                    </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a> |
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a> |
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
            <h5>
                For any issues, contact erland@vt.edu
            </h5>
        </div>
    </div>

</section>

@*
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
    @{
        if ((Model.ExternalLogins?.Count ?? 0) == 0)
        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                                    about setting up this ASP.NET application to support logging in via external services</a>.
                                </p>
                            </div>
        }
        else
        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                        @foreach (var provider in Model.ExternalLogins!)
                        {
                                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                        }
                                    </p>
                                </div>
                            </form>
        }
    }

    </section>
    </div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
