@model VTMUNC.Models.Applicant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Applicant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdvisorEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdvisorEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdvisorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdvisorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdvisorPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdvisorPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdvisorRelation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdvisorRelation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdvisorOtherInformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdvisorOtherInformation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadDelegateEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadDelegateEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadDelegateName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadDelegateName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadDelegatePhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadDelegatePhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DelegationSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DelegationSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolMailingAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolMailingAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamesOfDelegates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamesOfDelegates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAgreeWithTerms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAgreeWithTerms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentsOrQuestions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentsOrQuestions)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
